* {
  margin: 0;
  box-sizing: border-box;
}

.app {
  display: flex; /*add display as flexbox*/
  flex-direction: row;
  /* border: 1px solid; */
  min-height: 100vh;
}

/* Header Style */

.header-container {
  padding: 5px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* font-size: 1em; */
  /* background: linear-gradient(to bottom, #000099 0%, #0099ff 100%); */
}
.header-logo {
  width: 7em;
  /* margin-inline: 10px; */
}
.header-name {
  font-size: 3em;
  text-align: center;
}

/* Make the header logo spin */
@media (prefers-reduced-motion: no-preference) {
  .header-logo {
    animation: header-logo-spin infinite 20s linear;
  }
}

@keyframes header-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/*NavBar Style */
.navbar {
  width: 15vw;
  color: black;
  background-color: rgb(181, 243, 181);
}

.navbar-container {
  display: flex;
  flex-direction: column;
  font-size: 1.25em;
  background-color: rgb(181, 243, 181);
}

.navbar-container a {
  padding: 0.75em;
  color: black;
  text-decoration: none;
}

.navbar-container :hover {
  color: black;
  background-color: yellow;
}

.menu-bars {
  display: none !important;
  position: absolute !important;
  right: 0;
  top: 25px;
}

/* Main content */
.main {
  /* border: 3px solid greenyellow; */

  width: 85vw;
  display: flex;
  flex-direction: column;
}

.main-content {
  flex: 90%;
  display: flex;
  flex-direction: column;
  /* justify-content: center;
  align-items: center; */
}
.content-wrapper {
  padding: 1em;
  /* border: 1px solid red; */
}
.section-title {
  display: flex;
  justify-content: space-between;
}
.section-link {
  font-size: x-large;
}
.crypto-image {
  width: 25%;
  height: auto;
}

.select-timeperiod {
  width: 20%;
}

.stats-container {
  display: flex;
  justify-content: space-evenly;
}

.loader {
  display: block;
  margin-top: 25%;
  margin-left: 50%;
}

/* Footer */

.footer {
  flex: 10%;
  margin-top: 15px;
  background-color: #022730;
  color: white;
  text-align: center;
}

.footer a {
  color: white;
  padding: 16px;
  text-decoration: none;
}

.footer-container {
  display: flex;
  flex-direction: column;
}

.notfound {
  display: flex;
  flex-direction: column;
  height: 100%;
  font-size: 3em;
  text-align: center;
  align-items: center;
  justify-content: center;
}

.notfound img {
  width: 80%;
  height: auto;
}

@media screen and (max-width: 1300px) {
  .navbar-container {
    font-size: 1.075em;
  }
  .notfound {
    font-size: 2em;
  }
}
/* Responsive layout - when the screen is less than 1150px wide, make the flexbox stack on top of each other */
@media screen and (max-width: 1150px) {
  .app {
    flex-direction: column;
  }
  .header-container {
    flex-direction: row;
  }
  .header-container div {
    margin: 0 1em 0 1em;
  }

  .navbar {
    width: 100%;
  }

  .menu-bars {
    display: block !important;
  }
  .main {
    width: 100%;
  }

  .notfound {
    font-size: 1.5em;
  }
  /* .news-card {
    width: 50vw;
  } */
  /* .news-image {
    width: 100%;
    
  } */
}
