body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: rgb(234, 253, 231);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
* {
  box-sizing: border-box;
}

/* .app {
  display: flex;
} */

/* Header Style */

.header-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-size: 5vh;
  background: linear-gradient(to bottom, #000099 0%, #0099ff 100%);
  color: white;
}
.header-logo {
  width: 10vh;
  /* height: 100px; */
  margin-inline: 10px;
}
.header-name {
  padding-top: 2vmax;
}
/* Make the header logo spin */
@media (prefers-reduced-motion: no-preference) {
  .header-logo {
    animation: header-logo-spin infinite 20s linear;
  }
}

@keyframes header-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/*NavBar Style */

.navbar-container {
  display: flex;
  justify-content: center;
  background-color: #022730;
  color: #dcf9f6;
  font-size: 3vh;
}

.navbar-container > div {
  padding: 0.5vmax 2vmax 0.5vmax 2vmax;
}

.navbar-container a {
  /* display: flex; */
  /* padding: 12px; */
  /* padding: 10px 20px; */

  /* no undescore */
  color: white;
  text-decoration: none;
}

.navbar-container :hover {
  color: white;
  background-color: rgb(7, 122, 216);
}

/* Main content */

.main {
  font-size: 1vmax;
  text-align: center;
  margin: 2vmax 10vmax 2vmax 10vmax;
}

/* Footer */

.footer a {
  /* float: left; */
  /* display: block; */
  color: white;
  /* text-align: left; */
  padding: 14px 16px;
  text-decoration: none;
  /* font-size: 2vh; */
}

.footer {
  margin-top: 0.75rem;
  /* padding: 0.75rem; */
  background-color: #022730;
  color: white;
  /* position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 10vh; */
  font-size: 2vh;
}

.footer-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: space-between;

  /* align-content: center; */
}
